@media screen and (max-width: 550px) {
	section#login {
		div.form_container {
			p.login_title {
				font-size: 1.5em;
			}

			form {
				div.submit_container {
					button {
						width: 60%;
					}
				}

				div.register_tip {
					text-align: center;

					p {
						display: flex;
						flex-direction: column;
					}
				}
			}
		}
	}
}