@media screen and (max-width: 550px) {
	div#login_popup {
		div.form_container {
			width: 95%;
			margin-block: 4vh;
			padding: 20px 3vw;

			div#error_container {
				padding: 10px 3vw;

				div.image_container {
					width: 40px;
					height: 40px;
					margin-right: 10px;

					img {
						width: inherit;
						height: inherit;
					}
				}

				div.text_container {
					font-size: 1.1em;
				}
			}

			form {
				div.input_container {
					padding-block: 15px;

					label {
						font-size: 1.1em;
					}

					input {
						padding: 10px 3vw;
					}
				}

				div.submit_container {
					padding-block: 20px;

					button {
						width: 50%;
					}
				}

				div.register_tip {
					p {
						font-size: 1.1em;
						text-align: center;
					}
				}
			}
		}
	}
}