@media screen and (max-width: 550px) {
	section#registration {
		width: 95%;
		padding: 20px 3vw;

		div#error_container {
			margin: 10px auto;
			padding: 10px 3vw;

			div.image_container {
				width: 40px;
				height: 40px;
				margin-right: 10px;

				img {
					width: inherit;
					height: inherit;
				}
			}

			div.text_container {
				font-size: 1.1em;
			}
		}

		form {
			div.input_container {
				padding: 10px 0;

				input {
					padding: 10px 4vw;
				}

				div#username_note, div#password_note, div#matching_password_note {
					padding: 10px 3vw;
					line-height: 1.2em;
				}
			}

			div.input_container > div.container {
				button {
					right: 4vw;
				}
			}

			div.buttons_container {
				display: flex;
				flex-direction: column;
				row-gap: 20px;
				padding-top: 30px;

				button {
					width: 100%;
					margin: 0;
				}
			}
		}
	}
}