@media screen and (max-width: 550px) {
	section#registration {
		div.form_container {
			p.register_title {
				margin: 0;
				font-size: 1.4em;
			}

			p.have_an_account_title {
				font-size: 1.2em;
				text-align: center;
			}

			form {
				div.input_container {
					div#username_note, div#password_note, div#matching_password_note {
						padding: 5px 3vw;
						line-height: 1.1em;
						font-size: 0.9em;
					}
				}

				div.input_container > div.container {
					button {
						right: 4vw;
					}
				}

				div.buttons_container {
					display: flex;
					justify-content: space-between;
					column-gap: 20px;
					padding-top: 30px;

					button {
						width: 100%;
						margin: 0;
					}
				}
			}
		}
	}
}