@media screen and (max-width: 600px) {
	section#login, section#registration {
		position: static;
		height: 90%;
		padding-block: 0;
		overflow: auto;

		div.form_container {
			position: static;
			transform: none;
			width: auto;

			form {
				div#error_container {
					padding: 10px 3vw;

					div.image_container {
						width: 40px;
						height: 40px;
						margin-right: 10px;

						img {
							width: inherit;
							height: inherit;
						}
					}

					div.text_container {
						font-size: 1.1em;
					}
				}

				div.input_container {
					padding: 10px 0;

					input {
						padding: 10px 4vw;
					}
				}
			}
		}
	}
}