@media screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
	section#login, section#registration {
		height: 90%;
		padding-block: 0;
		overflow: auto;

		div.form_container {
			form {
				div.input_container {
					padding: 10px 0;

					input {
						padding: 10px 2vw;
					}
				}
			}
		}
	}
}