section#login {
	width: 100%;
	height: 92%;
	margin: 0;
	padding: 20px 3vw;
	background-color: #fff;

	div#error_container {
		display: flex;
		align-items: center;
		margin: 10px auto;
		border-radius: var(--border-radius);
		padding: 10px 1vw;
		box-shadow: var(--error-container-box-shadow);
		background-color: var(--error-container-color);

		div.image_container {
			width: 40px;
			height: 40px;
			margin-right: 20px;

			img {
				width: inherit;
				height: inherit;
			}
		}

		div.text_container {
			color: #fdd;
			text-align: left;
			font-weight: bold;
			font-size: 1.1em;
		}
	}

	div.form_container {
		margin-top: 15vh;

		p.login_title {
			font-size: 2em;

			span {
				font-weight: bold;
			}
		}

		form {
			padding-block: 10px;

			div.input_container:first-child {
				padding-top: 0;
			}

			div.input_container {
				padding: 10px 0;

				label {
					display: block;
					margin-bottom: 10px;
					text-align: left;
					font-weight: bold;

					span {
						padding-right: 10px;

						img {
							padding-left: 10px;
							margin-bottom: -2px;
						}
					}
				}

				input {
					width: 100%;
					border: 1px solid #ddd;
					border-radius: var(--border-radius);
					padding: 10px 1vw;
					box-shadow: var(--input-element-box-shadow);
					background-color: var(--input-element-background-color);
				}
			}

			div.submit_container {
				padding-block: 20px;

				button {
					width: 20%;
					border: 1px solid #ddd;
					border-radius: 2px;
					padding-block: 10px;
					font-size: 1.2em;
					font-weight: bold;
					box-shadow: var(--input-element-box-shadow);
					background-color: var(--input-element-background-color);
					color: #000;
				}

				button:hover {
					background-color: var(--input-element-hover-background-color);
				}

				button:active {
					background-color: var(--input-element-active-background-color);
				}

				button[disabled] {
					cursor: not-allowed;
					background-color: var(--disabled-input-element-background-color);
				}
			}

			div.register_tip {
				text-align: left;

				p {
					font-size: 1.2em;

					a {
						color: #000;
						text-decoration-line: underline;
						font-weight: bold;
					}
				}
			}
		}
	}
}