div#login_popup {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	background-color: rgba(0, 0, 0, 0.7);

	div.form_container {
		width: 60%;
		margin: auto;
		margin-block: 15vh;
		border-radius: var(--border-radius);
		padding: 40px 5vw;
		background-color: #fff;

		h1 {
			margin-block-start: 0;
			margin-block-end: 0;
		}

		div#error_container {
			display: flex;
			align-items: center;
			margin: 20px auto 0;
			border-radius: var(--border-radius);
			padding: 10px 1vw;
			box-shadow: var(--error-container-box-shadow);
			background-color: var(--error-container-color);

			div.image_container {
				margin-right: 20px;
			}

			div.text_container {
				color: #fdd;
				font-weight: bold;
				font-size: 1.3em;
			}
		}

		form {
			margin: auto;

			div.input_container {
				padding-block: 20px;
				font-weight: bold;

				label {
					display: block;
					margin-bottom: 10px;
					text-align: left;				
				}

				input {
					width: 100%;
					border: 1px solid #ddd;
					border-radius: var(--border-radius);
					padding: 10px 1vw;
					box-shadow: var(--input-element-box-shadow);
					background-color: var(--input-element-background-color);
				}
			}

			div.submit_container {
				padding-top: 40px;

				button {
					width: 20%;
					margin-inline: 1vw;
					border: 1px solid #ddd;
					border-radius: 2px;
					padding-block: 10px;
					font-size: 1.2em;
					font-weight: bold;
					box-shadow: var(--input-element-box-shadow);
					background-color: var(--input-element-background-color);
					color: #000;
				}

				button:hover {
					background-color: var(--input-element-hover-background-color);
				}

				button:active {
					background-color: var(--input-element-active-background-color);
				}

				button[disabled] {
					cursor: not-allowed;
					background-color: var(--disabled-input-element-background-color);
				}
			}

			div.register_tip {
				padding-top: 40px;
				text-align: left;

				p {
					font-size: 1.25em;

					a {
						color: #000;
						text-decoration-line: underline;
						font-weight: bold;
					}

					a:hover {
						text-shadow: #000 0 0 1px;
					}
				}
			}
		}
	}
}