section#login {
	div.form_container {
		margin-top: 15vh;

		form {
			div.submit_container {
				button {
					width: 20%;
				}
			}

			div.register_tip {
				text-align: left;

				p {
					font-size: 1.2em;

					a {
						color: #000;
						text-decoration-line: underline;
						font-weight: bold;
					}
				}
			}
		}
	}
}