section#registration {
	div.form_container {
		margin-top: 8vh;

		p {
			margin-block: 15px;
		}

		p.have_an_account_title {
			font-size: 1.4em;
			text-align: left;

			a {
				color: #000;
				text-decoration-line: underline;
				font-weight: bold;
			}
		}

		form {
			div.input_container {
				div#username_note, div#password_note, div#matching_password_note {
					display: none;
					border: 2px solid #555;
					border-top: none;
					border-bottom-left-radius: var(--border-radius);
					border-bottom-right-radius: var(--border-radius);
					padding: 10px 1vw;
					text-align: left;
					line-height: 1.3em;

					h3, p {
						margin-block: .3em;
					}

					h3 {
						margin-bottom: .6em;
					}

					p:before {
						content: "•";
						margin-right: 5px;
						font-size: 1.6em;
						vertical-align: middle;
					}
				}

				div#username_note.visible, div#password_note.visible, div#matching_password_note.visible {
					display: block;
				}
			}

			div.input_container > div.container {
				position: relative;

				button {
					position: absolute;
					top: 8px;
					right: 1vw;
					padding: 0;
					box-shadow: none;

					img {
						filter: invert(50%);
					}

					img.selected {
						filter: invert(25%);
					}
				}

				button:hover {
					background-color: var(--button-color);

					img {
						filter: invert(30%);
					}
				}
			}

			div.buttons_container {
				button {
					width: 30%;
					margin-inline: 1vw;
				}
			}
		}
	}
}