@media screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
	div.delete_popup_overlay {
		div.delete_popup_container {
			width: 80%;

			div.selection_container {
				column-gap: 2vw;

				button {
					width: 40%;
				}
			}
		}
	}

	section#recipe {
		div.recipe_wrapper {
			div.options_container {
				div.list_container {
					width: 28vw;

					div.list_element {
						button {
							margin-left: 10%;

							img {
								margin-right: .8vw;
							}
						}
					}
				}
			}
		}
	}
}