@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
	--border-radius: 4px;
	--box-shadow: 0px 0px 4px 4px #bbb;

	--link-color: #fff;
	--link-hover-color: #eee;
	--link-active-color: #ddd;

	--input-element-background-color: #eee;
	--input-element-box-shadow: 0px 0px 4px 2px #ddd;
	--input-element-hover-background-color: #ddd;
	--input-element-active-background-color: #ccc;

	--disabled-input-element-background-color: #ddd;

	--recipe-match-element-box-shadow: 0px 0px 4px 4px #A3CCA3;

	--ingredient-border-radius: 3px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scrollbar-width: thin;
	scrollbar-color: #aaa #000;
}

body {
	text-align: center;
	overflow-y: scroll;
	font-family: "Open Sans", sans-serif;
	background-color: rgba(0, 0, 0, 0.05);
}

section {
	margin: 20px 2vw;
}

a {
	text-decoration-line: none;
	color: var(--link-color);
}

a:hover {
	color: var(--link-hover-color);
}

a:active {
	color: var(--link-active-color);
}

button, input {
	font-family: "Open Sans", sans-serif;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

input:focus {
	outline: none;
	border: none;
}