@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
	--link-color: #fff;
	--link-hover-color: #eee;
	--link-active-color: #ddd;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scrollbar-width: thin;
	scrollbar-color: #aaa #000;
}

body {
	text-align: center;
	overflow-y: scroll;
	font-family: "Open Sans", sans-serif;
}

a {
	text-decoration-line: none;
	color: var(--link-color);
}

a:hover {
	color: var(--link-hover-color);
}

a:active {
	color: var(--link-active-color);
}

button {
	border: none;
	background-color: transparent;
	color: var(--link-color);
	font-family: "Open Sans", sans-serif;
	cursor: pointer;
}