span.loading_spinner, div.loading_spinner {
	display: inline-block;
}

div.loading_spinner {
	margin-block: 20px;

	img {
		animation: spinner 2s ease-in-out infinite;
	}
}

span.loading_spinner {
	width: 21px;
	height: 21px;

	img {
		width: inherit;
		height: inherit;
		animation: spinner 1s linear infinite;
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}