div.locale_switcher {
	display: flex;
	align-items: center;

	img {
		width: 40px;
		height: 40px;
		filter: invert(100%);
	}

	select, ::picker(select) {
		appearance: base-select;
	}

	::picker(select) {
		box-shadow: 0 4px 8px #777;
	}

	select#lang_switch {
		display: block;
		border: none;
		border-radius: var(--border-radius);
		padding: 5px .5vw;
		color: #fff;
		font-size: .7em;
		cursor: pointer;

		option {
			display: block;
			border: 1px solid #ccc;
			padding-block: 5px;
			text-align: center;
		}

		option::checkmark {
			display: none;
		}
	}

	select#lang_switch::picker-icon {
		margin-top: .1em;
		color: #fff;
		font-size: .9em;
	}

	select#lang_switch:open::picker-icon {
		rotate: 180deg;
	}

	select#lang_switch:hover {
		background-color: rgba(255, 255, 255, 0.3);
	}

	::picker(select) {
		border: none;
	}
}