section#recipes {
	div.recipe, div#add_recipe {
		text-align: left;
		border-radius: var(--border-radius);
		background-color: #fff;
		box-shadow: var(--box-shadow);

		div.link_container {
			position: relative;
			margin: 0;
			border-radius: inherit;
			padding: 0;

			div.overlay {
				margin: 0;
				padding: 0;

				a {
					position: absolute;
					z-index: 2;
					inset: 0;
				}
			}
		}

		div.link_container:hover {
			background-color: var(--link-hover-color);
		}

		div.link_container:active {
			background-color: var(--link-active-color);
		}
	}

	div.recipe {
		display: flex;
		flex-direction: column;
		margin-block: 10px;

		div.link_container {
			div {
				padding: 2px 1vw;
			}

			div.name {
				padding-bottom: 0;

				h2 {
					font-size: 2.2em;
				}
			}

			div.ingredients {
				display: flex;
				flex-wrap: wrap;
				gap: .2em;

				span {
					border-radius: var(--ingredient-border-radius);
					padding: 2px 8px;
					background-color: #FF424B;
					color: #fff;
				}

				span:first-child {
					margin-left: 0;
				}
			}

			div.short_description {
				padding-block: 16px;
			}
		}
	}

	div#add_recipe {
		div.link_container {
			font-size: 1.2em;
			color: #444;

			div.content {
				padding: 10px 1vw;
			}
		}
	}
}

