div.delete_popup_overlay {
	position: absolute;
	inset: 0;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.9);

	div.delete_popup_container {
		width: 60%;
		margin: auto;
		margin-block: 15vh;
		border-radius: var(--border-radius);
		padding: 40px 0;
		background-color: #fff;

		h2 {
			margin-block-start: 0;
			margin-block-end: 0;
		}

		div.selection_container {
			display: flex;
			justify-content: center;
			column-gap: 1vw;
			padding-top: 20px;

			button {
				width: 20%;
				border: 1px solid #ddd;
				border-radius: 2px;
				padding-block: 10px;
				font-size: 1.2em;
				font-weight: bold;
				box-shadow: var(--input-element-box-shadow);
				background-color: var(--input-element-background-color);
				color: #000;
			}

			button:hover {
				background-color: var(--input-element-hover-background-color);
			}

			button:active {
				background-color: var(--input-element-active-background-color);
			}

			button[disabled] {
				cursor: not-allowed;
				background-color: var(--disabled-input-element-background-color);
			}
		}
	}
}

section#recipe {
	display: flex;
	flex-direction: column;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	text-align: left;
	background-color: #fff;

	div {
		margin-block: 5px;
	}

	div:first-child {
		margin-top: 0;
	}

	div:last-child {
		margin-bottom: 0;
	}

	div.recipe_wrapper {
		display: flex;
		justify-content: space-between;

		div.main_info {
			width: 90%;

			div.name {
				h2 {
					font-size: 2.2em;
				}
			}

			div.ingredients {
				display: flex;
				flex-wrap: wrap;
				gap: .2em;

				span {
					border-radius: var(--ingredient-border-radius);
					padding: 2px 8px;
					background-color: #ddd;
					color: #666;
				}

				span.matching_ingredient {
					background-color: #FF424B;
					color: #fff;
				}

				span:first-child {
					margin-left: 0;
				}
			}

			div.short_description {
				padding-top: 8px;
			}
		}

		div.options_container {
			position: relative;
			margin: 0;

			div.icon_container {
				border-radius: 20px;
				padding: 10px;
				cursor: pointer;

				img {
					width: 12px;
					user-select: none;
				}
			}

			div.icon_container:hover {
				background-color: #ddd;
			}
			
			div.icon_container:active {
				background-color: #bbb;
			}

			div.list_container {
				position: absolute;
				right: .5vw;
				display: none;
				width: 12vw;
				border: 1px solid #ccc;
				border-radius: 4px;
				box-shadow: 0 0 15px #aaa;
				background-color: #fff;

				div.list_element {
					button {
						width: 100%;
						display: inline-flex;
						align-items: center;
						margin-left: 15%;
						padding: 10px 0;
						font-size: 1.1em;

						img {
							width: 24px;
							margin-right: .4vw;
						}
					}
				}

				div.list_element:hover {
					background-color: #ddd;
				}

				div.list_element:active {
					background-color: #bbb;
				}
			}

			div.list_container.active {
				display: block;
			}
		}
	}

	hr {
		margin-block: 20px;
	}

	div.description {
		margin-top: 0;
		padding-block: 10px;

		p {
			white-space: pre-wrap;
		}
	}
}