div.delete_popup_overlay {
	position: absolute;
	inset: 0;
	z-index: 5;
	background-color: rgba(0, 0, 0, 0.7);

	div.delete_popup_container {
		width: 60%;
		margin: auto;
		margin-block: 15vh;
		border-radius: var(--border-radius);
		padding: 40px 0;
		background-color: #fff;

		h2 {
			margin-block-start: 0;
			margin-block-end: 0;
		}

		div.selection_container {
			padding-top: 20px;

			button {
				width: 20%;
				margin-inline: 1vw;
				border: 1px solid #ddd;
				border-radius: 2px;
				padding-block: 10px;
				font-size: 1.2em;
				font-weight: bold;
				box-shadow: var(--input-element-box-shadow);
				background-color: var(--input-element-background-color);
				color: #000;
			}

			button:hover {
				background-color: var(--input-element-hover-background-color);
			}

			button:active {
				background-color: var(--input-element-active-background-color);
			}

			button[disabled] {
				cursor: not-allowed;
				background-color: var(--disabled-input-element-background-color);
			}
		}
	}
}

section#recipe {
	display: flex;
	flex-direction: column;
	padding: 20px 1vw;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	text-align: left;
	background-color: #fff;

	div {
		margin-block: 5px;
	}

	div:first-child {
		margin-top: 0;
	}

	div:last-child {
		margin-bottom: 0;
	}

	div.recipe_wrapper {
		display: flex;
		justify-content: space-between;

		div.main_info {
			width: 90%;

			div.name {
				h2 {
					font-size: 2.2em;
				}
			}

			div.ingredients {
				span {
					margin-inline: .1vw;
					border-radius: var(--ingredient-border-radius);
					padding: 2px 8px;
					background-color: #ddd;
					color: #666;
				}

				span.matching_ingredient {
					background-color: #FF424B;
					color: #fff;
				}

				span:first-child {
					margin-left: 0;
				}
			}

			div.short_description {
				padding-top: 8px;
			}
		}

		div.delete {
			margin: 0;

			button:hover {
				img {
					filter: brightness(90%);
				}
			}

			button:active {
				img {
					filter: brightness(80%);
				}
			}
		}
	}

	hr {
		margin-block: 20px;
	}

	div.description {
		margin-top: 0;

		p {
			white-space: pre-wrap;
		}
	}
}