div#welcome_wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	background-image: url("../../assets/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;

	div#left_side {
		width: 60%;

		div.locale_switcher {
			width: 100%;
			height: 8%;
			padding-inline: 2.7vw;
			justify-content: flex-end;
			background-color: #fff;

			img {
				filter: invert(0%);
			}

			select#lang_switch {
				font-size: 1.25em;
				color: #000;
			}

			select#lang_switch::picker-icon {
				color: #000;
			}

			select#lang_switch:hover {
				background-color: rgba(0, 0, 0, 0.15);
			}
		}
	}
}