@media screen and (max-width: 550px) {
	section#home {
		div.recipe {
			div.link_container {
				div {
					padding: 4px 2vw;
				}

				div.name {
					h2 {
						font-size: 1.8em;
					}
				}

				div.ingredients {
					span {
						padding: 2px 4px;
						font-size: .8em;
					}
				}

				div.short_description {
					padding-block: 8px;
				}
			}
		}
	}
}