@media screen and (max-width: 600px) {
	section#search {
		padding: 10px 2vw;

		form {
			div.search_bar_wrapper {
				padding: 4px 2vw;

				div.search_bar {
					div.ingredients {
						gap: .4em;

						span.ingredient_wrapper {
							span.ingredient, button {
								padding: 6px;
							}
						}
					}

					div.input_container {
						width: 50vw;

						input {
							padding: 15px 1vw;
						}
					}					
				}
			}

			div.submit_container {
				button {
					width: 50%;
				}
			}
		}

		section#matching_recipes {
			div.recipe {
				margin-block: 10px;

				div.link_container {
					div {
						padding: 2px 2vw;
					}

					div.name {
						flex-direction: column;
						align-items: normal;

						h2 {
							font-size: 1.8em;
						}

						span.hint {
							margin: 0;
						}
					}

					div.ingredients {
						gap: .5vw;

						span {
							padding: 2px 4px;
							font-size: .9em;
						}
					}

					div.short_description {
						padding-block: 8px;
					}
				}
			}
		}
	}
}