@media screen and (max-width: 550px) {
	header {
		justify-content: normal;
		gap: 5vw;

		div#aside_toggler {
			width: 24px;
			height: 24px;

			button {
				width: inherit;
				height: inherit;

				img {
					width: inherit;
					height: inherit;
				}
			}
		}

		div.logo_container {
			font-size: 2em;
		}
	}
}