@media screen and (max-width: 600px) {
	header {
		justify-content: normal;
		gap: 5vw;

		div#aside_toggler {
			width: 24px;
			height: 24px;

			button {
				width: inherit;
				height: inherit;

				img {
					width: inherit;
					height: inherit;
				}
			}
		}

		div.logo_wrapper {
			width: 100%;
			justify-content: space-between;
			align-items: normal;
			z-index: 4;
		}
	}
}