@media screen and (max-width: 550px) {
	div#welcome_wrapper {
		display: block;

		div#left_side {
			width: 97%;
			height: 100%;
			margin: auto;
			padding-block: 15px;

			div.locale_switcher {
				height: 10%;

				select#lang_switch {
					padding-inline: 10px;
					font-size: 1em;
				}
			}
		}
	}
}